scikit-learn
torch
pandas
tqdm
toml
jinja2
ndjson
numpy
matplotlib
jupyter
ipywidgets
bunch
stringcase
papermill
jupyter-ui-poll
jupyter_contrib_nbextensions
durations
seaborn
python-rclone
base58
ipyfilechooser
flask
pylertalertmanager
web3
python-dotenv
prometheus_api_client
transformers
datasets
