numpy==1.19.5
scikit-learn==0.24.2
torch==1.4.0
pandas==1.1.5
tqdm==4.62.3
toml
jinja2
ndjson
pandas
numpy
matplotlib
jupyter
ipywidgets
bunch
stringcase
papermill
jupyter-ui-poll
jupyter_contrib_nbextensions
durations
seaborn
python-rclone
pandas-sets
base58
ipyfilechooser
