/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 690px;
  background-image: var(--ifm-background-hero);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #f49912;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  padding-top: 4rem !important;
}

.image {
  width: 340px;
  height: auto;
  min-height: 150px;
  background-image: var(--ifm-logo-hero);
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  text-align: center;
  width: 100% !important;
  margin: 1rem;
  font-size: large !important;
}

.subtitleDiagram{
  text-align: center;
  width: 100% !important;
  margin: 1rem;
  font-size: 30px !important;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin-top: 5rem;
  font-weight: 700;
  text-decoration: underline;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAB82F;
  border-radius: 6px;
  margin: 2rem 1rem;
  padding: 10px 24px 12px;
  font-weight: 700;
  font-size: 18px;
}

.buttonText {
  color: #112949 !important;
}

.buttonText:hover {
  text-decoration: none;
}

@media screen and (min-width: 996px) {
  .heroBanner {
    height: 1000px;
  }
  .container {
    padding-top: 4rem !important;
  }
  .subtitle {
    font-size: x-large !important;
    width: 40% !important;
  }
  .image {
    width: 540px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .heroBanner {
    height: 1200px;
  }
}